body {
    font-family: 'Roboto', sans-serif;
}

#orderCard {
    background-color: #d6d6d6;
    max-width: 400px;
    max-height: 300px;
    margin: 20px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 20px;
}