body {
    font-family: 'Roboto', sans-serif;
    background-color: #aaaaaa;
}

#orderCard {
    background-color: #ffffff;
    max-width: 325px;
    max-height: 925px;
    margin: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

h2 {
    margin: auto;
    padding: auto;
}

h4 {
    margin: auto;
    padding: auto;
}

h5 {
    margin: auto;
    padding: auto;
}

ul {

    list-style-type: none;
    padding: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
}

button {
    width: 48%;
    border: solid black;
    border-width: 1.2px;
    border-radius: 8px;
    background-color:lightgray;
    font-size: small;
    margin: 0px 10px -3px -8px;
    padding: 10px 0px;
   }